<!DOCTYPE html>
<html>
<head>
    <title>My Weather App</title>
</head>
<body>
    <h1>What's the weather like in <%= city %> today?</h1>

    <p>It is <%= temp %>&deg;F today, but feels like <%= feels_like %>&deg;F, and is best described as having <%= description %>.</p>
    <p>The maximum temperature is <%= temp_max %>&deg;F, and the minimum is <%= temp_min %>&deg;F.</p>
    <p>There is an air pressure of <%= pressure %> hPa, and a <%= humidity %>% humidity.</p>
    
</body>
</html>